Repository openstack/ironic-python-agent: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Path conditions:
  ironic-ipa-base: unless all of: ^examples/.*$, ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-bios-ipmi-direct-src: unless all of: ^examples/.*$, ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-uefi-redfish-vmedia-src: unless all of: ^examples/.*$, ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-ironic-inspector-src: unless all of: ^examples/.*$, ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tox-bandit: unless all of: ^examples/.*$, ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit.yml).*$, ^tox.ini$
  ipa-tox-examples: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit.yml).*$, ^tox.ini$
  ipa-tempest-bios-ipmi-direct-tinyipa-src: unless all of: ^examples/.*$, ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ipa-dsvm-base: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-ironic-inspector-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_python_agent/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fix the way qemu-img is called with prlimits
  ironic_python_agent/qemu_img.py
  ironic_python_agent/tests/unit/test_qemu_img.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Missing __init__.py file
  ironic_python_agent/metrics_lib/__init__.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Doc: Fix incorrect function in example code
  doc/source/contributor/hardware_managers.rst
Due: none

Update .gitreview for stable/2025.1
  .gitreview
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: none

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Missing 'interface' in Clean Step
  examples/business-logic/example_business_logic.py
  examples/vendor-device/example_device.py
Due: ipa-tox-examples, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Add ContainerHardwareManager
  ironic_python_agent/config.py
  ironic_python_agent/hardware_managers/container.py
  ironic_python_agent/tests/unit/test_agent.py
  setup.cfg
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Remove eventlet greendns patching
  ironic_python_agent/__init__.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Run UT of metricis_lib
  ironic_python_agent/tests/unit/metrics_lib/__init__.py
Due: none

Fix test_timeout on Python3.13
  ironic_python_agent/tests/unit/test_inspector.py
Due: none

Ironic Config Intergration for IPA
  ironic_python_agent/agent.py
  ironic_python_agent/config.py
  ironic_python_agent/errors.py
  ironic_python_agent/hardware.py
  ironic_python_agent/hardware_managers/container.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Implement manual cleaning for ContainerHardwareManager
  ironic_python_agent/hardware_managers/container.py
  ironic_python_agent/tests/unit/hardware_managers/test_container.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Base standalone job on redfish standalone
  zuul.d/ironic-python-agent-jobs.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

trivial: Fix missing extra space in logging
  ironic_python_agent/utils.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Remove unnecessary +x mode
  ironic_python_agent/tests/unit/hardware_managers/__init__.py
  ironic_python_agent/tests/unit/hardware_managers/nvidia/__init__.py
  ironic_python_agent/tests/unit/hardware_managers/test_mlnx.py
Due: none

Remove eventlet from Ironic Python Agent
  ironic_python_agent/__init__.py
  ironic_python_agent/agent.py
  ironic_python_agent/api/app.py
  ironic_python_agent/tests/unit/test_agent.py
  releasenotes/notes/eventlet-removal-1bd8c6c2d5f8a765.yaml
  requirements.txt
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

netutils: Use ethtool ioctl to get permanent mac address
  ironic_python_agent/netutils.py
  ironic_python_agent/tests/unit/test_hardware.py
  releasenotes/notes/fix-mac-permaddr-0bc7d688eee4b814.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Remove TinyIPA jobs
  zuul.d/project.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Remove unused tinyipa CI job
  zuul.d/ironic-python-agent-jobs.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Update .gitreview for bugfix/11.0
  .gitreview
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Fix software RAID creation on different physical devices
  ironic_python_agent/hardware.py
  ironic_python_agent/raid_utils.py
  ironic_python_agent/tests/unit/test_hardware.py
  ironic_python_agent/tests/unit/test_raid_utils.py
  releasenotes/notes/fix-software-raid-different-devices-3298f735fdbd3a05.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Provide usable __repr__ for serializable objects
  ironic_python_agent/encoding.py
  ironic_python_agent/tests/unit/test_encoding.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Split hardware manager initialize out of evaluate_hardware_support
  ironic_python_agent/hardware.py
  ironic_python_agent/hardware_managers/cna.py
  ironic_python_agent/tests/unit/hardware_managers/test_cna.py
  ironic_python_agent/tests/unit/test_hardware.py
  releasenotes/notes/hwmgr-init-8f9c9b6205f64966.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Graceful way for hardware managers to ignore certain devices
  doc/source/admin/hardware_managers.rst
  ironic_python_agent/hardware.py
  ironic_python_agent/tests/unit/test_hardware.py
  releasenotes/notes/filter-device-90e90f0814f26b6d.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Vendor own option for tls cert file and key file
  ironic_python_agent/api/app.py
  ironic_python_agent/cmd/agent.py
  ironic_python_agent/config.py
  ironic_python_agent/tests/unit/base.py
  releasenotes/notes/tls-opts-50d09bddd5f70ef2.yaml
  requirements.txt
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Fix missing [mdns] options
  setup.cfg
  tools/config/ipa-config-generator.conf
Due: none

Trivial: avoid root logger in modules
  ironic_python_agent/extensions/base.py
  ironic_python_agent/extensions/clean.py
  ironic_python_agent/extensions/deploy.py
  ironic_python_agent/extensions/rescue.py
  ironic_python_agent/extensions/service.py
  ironic_python_agent/hardware.py
  ironic_python_agent/hardware_managers/cna.py
  ironic_python_agent/hardware_managers/container.py
  ironic_python_agent/hardware_managers/mlnx.py
  ironic_python_agent/hardware_managers/nvidia/nvidia_fw_update.py
  ironic_python_agent/partition_utils.py
  ironic_python_agent/tests/unit/test_hardware.py
  ironic_python_agent/tls_utils.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Hint at sector sizes when reporting an invalid written image
  ironic_python_agent/extensions/standby.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

docs: remove tinyipa references
  doc/source/admin/rescue.rst
  doc/source/admin/troubleshooting.rst
  doc/source/install/index.rst
Due: none

Log efibootmgr output as part of the system logs
  ironic_python_agent/hardware.py
  ironic_python_agent/tests/unit/test_hardware.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Fix wrong result of filter_device in the base interface
  ironic_python_agent/hardware.py
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

doc: How hardware managers ignore certain devices
  doc/source/contributor/hardware_managers.rst
Due: none

Hard stop on image download duration threshold
  ironic_python_agent/config.py
  ironic_python_agent/errors.py
  ironic_python_agent/extensions/standby.py
  ironic_python_agent/tests/unit/extensions/test_standby.py
  releasenotes/notes/image-download-max-duration-49eb5de0f1c23f52.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Support transport type as a root device hint
  ironic_python_agent/device_hints.py
  ironic_python_agent/hardware.py
  ironic_python_agent/tests/unit/extensions/test_image.py
  ironic_python_agent/tests/unit/samples/hardware_samples.py
  ironic_python_agent/tests/unit/test_hardware.py
  ironic_python_agent/utils.py
  releasenotes/notes/root-device-hint-tran-48847d86d8cbcfbc.yaml
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3

Update .gitreview for bugfix/11.1
  .gitreview
Due: ironic-ipa-base, ipa-tempest-bios-ipmi-direct-src, ipa-tempest-uefi-redfish-vmedia-src, ipa-tempest-ironic-inspector-src, ipa-tox-bandit, ipa-tox-examples, ipa-tempest-bios-ipmi-direct-tinyipa-src, legacy-ipa-dsvm-base, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-direct-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-tinyipa-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-wholedisk-bios-ipmi-iscsi-coreos-src, ipa-tempest-dsvm-ironic-inspector-src, ipa-tempest-dsvm-partition-bios-ipmi-iscsi-tinyipa256-src, ipa-tempest-dsvm-partition-ipmi-iscsi-tinyipa-python3
